services:
  - type: worker
    name: fast-scalp-complete
    env: python
    region: frankfurt
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python main.py
    envVars:
      - key: TELEGRAM_BOT_TOKEN
        sync: false
      - key: TELEGRAM_CHAT_ID
        sync: false
      - key: MEXC_API_KEY
        sync: false
      - key: MEXC_SECRET_KEY
        sync: false
